body{
    padding: 0;
    margin: 0;
    height: 2300px;
}
.container{
    border: tomato 1px solid;
    overflow: hidden;
}
.row{
    border: blue 1px solid;
}
.col{
    border: green 1px solid;
}



/* nav bar */
.logo{
    
    width: 15%;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}
.search{
    margin: 5px;
    width: 15px;
    height: 15px;
}
.dif-search{
    padding: 5px;
    width: 40%;
    height: auto;
    border-radius: 10px 10px 10px 10px;
    background-color: #C4C4C4;
    border-style: none;
}
#dif-nav-link:hover{
    color: #EF3C5F;
}
#dif-nav-option:hover{
    color: #EF3C5F;
}
.nav-icon{
    width: 35px;
    height: 35px;
}
.nav-icon-section{
    position: absolute;
}


/* slide */
.slidebox{
  border: green 1px solid;
  margin:0 auto;
  width: 90%;
}
.img-slider{
  position: relative;
  width: 100%;
  height: 520px;
  border: blue 1px solid;
  padding-left: 0;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
}
.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.img-slider .navigation .dif-btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.img-slider .navigation .dif-btn.active{
  background: #EF3C5F;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  
}

@media (max-width: 1200px){
  .img-slider{
    width: 80%;
    height: 400px;
  }
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
  
  }
  .img-slider .navigation{
    bottom: 25px;
  }
  .img-slider .navigation .dif-btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 786px){
  .img-slider{
    width: 80%;;
    height: 250px;
  }
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
   
  }
  .img-slider .navigation{
    bottom: 15px;
  }
  .img-slider .navigation .dif-btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 480px){
  .img-slider{
    width: 100%;
    height: 200px;
  }
  .img-slider .navigation{
    bottom: 10px;
  }
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
   
  }
}
                           



 